using System.Text;
using System.ComponentModel.DataAnnotations;
using System.Runtime.Serialization;

{{#models}}
{{#model}}
namespace {{modelPackage}};

[DataContract]
public {{#modelClassModifier}}{{.}} {{/modelClassModifier}}class {{classname}}
{
    {{#vars}}
    {{#items.isEnum}}
        {{#items}}
            {{^complexType}}
                {{>enumClass}}
            {{/complexType}}
        {{/items}}
    {{/items.isEnum}}
    {{#isEnum}}
        {{^complexType}}
            {{>enumClass}}
        {{/complexType}}
    {{/isEnum}}
    {{#required}}
    [Required]{{/required}}{{#pattern}}
    [RegularExpression("{{{.}}}")]{{/pattern}}{{#minLength}}{{#maxLength}}
    [StringLength({{maxLength}}, MinimumLength = {{minLength}})]{{/maxLength}}{{/minLength}}{{#minLength}}{{^maxLength}}
    [MinLength({{minLength}})]{{/maxLength}}{{/minLength}}{{^minLength}}{{#maxLength}}
    [MaxLength({{.}})]{{/maxLength}}{{/minLength}}{{#minimum}}{{#maximum}}
    [Range({{minimum}}, {{maximum}})]{{/maximum}}{{/minimum}}
    [DataMember(Name = "{{baseName}}")]
    {{#isEnum}}
    public {{{datatypeWithEnum}}}{{#isNullable}}?{{/isNullable}} {{name}} { get; set; }{{#defaultValue}} = {{{.}}};{{/defaultValue}}
    {{/isEnum}}
    {{^isEnum}}
    public {{{dataType}}} {{name}} { get; set; }{{#defaultValue}} = {{{.}}};{{/defaultValue}}
    {{/isEnum}}
    {{^-last}}

    {{/-last}}
    {{/vars}}

    public override string ToString()
    {
        return new StringBuilder()
            .Append("class {{classname}} {\n")
        {{#vars}}
            {{=[[ ]]=}}
            .Append($"  \"{nameof([[name]])}\": \"{[[name]]}\"\n")
            [[={{ }}=]]
        {{/vars}}
            .Append("}\n")
            .ToString();
    }
{{/model}}
{{/models}}
}
